<div *ngIf="loadInvoiceByIdPending$ | async">
  <h2>Loading...</h2>
  <mat-spinner> </mat-spinner>
</div>
<button
  routerLink="/invoice"
  [queryParams]="{ page: '1' }"
  matTooltip="back to Home"
  matTooltipShowDelay="600"
  matTooltipPosition="right"
>
  <mat-icon color="warn">backspace</mat-icon>
</button>

<mat-card class="invoiceById-card">
  <mat-card-header>
    <div mat-card-avatar>
      <mat-icon>account_circle</mat-icon>
    </div>
    <mat-card-title>Customer: {{ invoiceById.customerName }}</mat-card-title>
    <mat-card-subtitle
      >Invoice Number: {{ invoiceById.invoiceId }}</mat-card-subtitle
    >
    <mat-card-subtitle
      >Invoice Date: {{ invoiceById.date | date }}</mat-card-subtitle
    >
  </mat-card-header>
</mat-card>
<table
  mat-table
  [dataSource]="invoiceById['invoiceItems']"
  class="mat-elevation-z8"
>
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Product Id</th>
    <td mat-cell *matCellDef="let item" [@EnterLeave]>
      {{ item.productId }}
    </td>
  </ng-container>

  <!-- Product Column -->
  <ng-container matColumnDef="product">
    <th mat-header-cell *matHeaderCellDef>Product</th>
    <td mat-cell *matCellDef="let item" [@EnterLeave]>
      {{ item.name }}
    </td>
  </ng-container>

  <!-- Description Column -->
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let item" [@EnterLeave]>
      {{ item.description | short }}
    </td>
  </ng-container>

  <!-- Price Column -->
  <ng-container matColumnDef="price">
    <th mat-header-cell *matHeaderCellDef>Price</th>
    <td mat-cell *matCellDef="let item" [@EnterLeave]>
      {{ item.price }}
    </td>
  </ng-container>

  <!-- Quantity Column -->
  <ng-container matColumnDef="quantity">
    <th mat-header-cell *matHeaderCellDef>Quantity</th>
    <td mat-cell *matCellDef="let item" [@EnterLeave] class="quantity">
      {{ item.quantity }}
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
