<div *ngIf="loadProductsPending$ | async">
  <h2>Loading...</h2>
  <mat-spinner> </mat-spinner>
</div>
<div *ngIf="addLikesByUserIdPending$ | async">
  <h2>Saving...</h2>
  <mat-spinner> </mat-spinner>
</div>

<div
  fxLayout="row wrap"
  fxLayout.xs="column"
  fxLayoutAlign="space-evenly center"
>
  <mat-card
    class="card-picture"
    *ngFor="let product of products$ | async; let i = index"
  >
    <mat-card-header>
      <div mat-card-avatar fxLayoutAlign.xs="center center">
        <mat-icon>account_circle</mat-icon>
      </div>
      <mat-card-title>{{ product.name }}</mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      src="{{ product.imagePath }}"
      alt="{{ product.name }}"
    />
    <mat-card-content>
      <p>
        {{ product.description }}
      </p>
      <h4>Price: ${{ product.price }}</h4>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="onNewLike(product.productId, i)">
        <mat-icon appColor>thumb_up</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>

<mat-paginator
  [length]="totalProducts$ | async"
  [pageSize]="6"
  (page)="onChangePage($event)"
>
</mat-paginator>
