<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/home'" (click)="onHome()"
        ><mat-icon>home</mat-icon>&#160; Home</a
      >
      <a *ngIf="!hasLocalStorage" mat-list-item [routerLink]="'/auth'"
        ><mat-icon>account_circle</mat-icon>&#160; Login</a
      >
      <a
        *ngIf="hasLocalStorage && role == 'admin'"
        mat-list-item
        [routerLink]="'/users'"
        ><mat-icon>people</mat-icon>&#160; Users</a
      >
      <a
        *ngIf="hasLocalStorage"
        mat-list-item
        [routerLink]="'/products'"
        [queryParams]="{ page: '1' }"
        ><mat-icon>shopping_basket</mat-icon>&#160; Products</a
      >
      <a *ngIf="hasLocalStorage" mat-list-item [routerLink]="'/likes/1'"
        ><mat-icon>thumb_up</mat-icon>&#160; Likes</a
      >
      <a
        *ngIf="hasLocalStorage && role !== 'guest'"
        mat-list-item
        [routerLink]="'/invoice'"
        [queryParams]="{ page: '1' }"
        ><mat-icon> monetization_on</mat-icon>&#160; Invoice</a
      >
      <a
        *ngIf="hasLocalStorage"
        mat-list-item
        class="logout"
        (click)="onLogout()"
        ><mat-icon>input</mat-icon>&#160; Logout</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div *ngIf="backArrow">
        <div [ngSwitch]="header">
          <button
            mat-button
            *ngSwitchCase="'New User'"
            routerLink="/users"
            matTooltip="back to user list"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            mat-button
            *ngSwitchCase="'User Edit'"
            routerLink="/users"
            matTooltip="back to user list"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            mat-button
            *ngSwitchCase="'New Invoice'"
            routerLink="/invoice"
            [queryParams]="{ page: '1' }"
            matTooltip="back to Invoice"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button
            mat-button
            *ngSwitchCase="'Detailed Invoice'"
            routerLink="/invoice"
            [queryParams]="{ page: '1' }"
            matTooltip="back to Invoice"
          >
            <mat-icon>arrow_back</mat-icon>
          </button>
        </div>
      </div>
      {{ header }}
      <div *ngIf="newUserOrInvoice">
        <div [ngSwitch]="header">
          <button
            *ngSwitchCase="'User List'"
            mat-mini-fab
            color="primary"
            type="button"
            class="add"
            routerLink="/users/new"
          >
            <mat-icon>plus_one</mat-icon>
          </button>
          <button
            *ngSwitchCase="'List of Invoices'"
            mat-mini-fab
            color="primary"
            type="button"
            class="add"
            routerLink="/invoice/new"
          >
            <mat-icon>plus_one</mat-icon>
          </button>
        </div>
      </div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
