<form (ngSubmit)="onSubmit(form)" #form="ngForm">
  <div class="container">
    <h1 *ngIf="editMode">Update User Info</h1>
    <h1 *ngIf="!editMode">Create new User</h1>
    <hr />
    <label for="name"><b>Name</b></label>
    <input
      *ngIf="editMode"
      type="text"
      placeholder="{{ name }}"
      name="name"
      id="name"
      ngModel
      required
    />
    <input
      *ngIf="!editMode"
      type="text"
      placeholder="Enter your name"
      name="name"
      id="name"
      ngModel
      required
    />
    <label for="email"><b>Email</b></label>
    <input
      *ngIf="editMode"
      type="text"
      placeholder="{{ email }}"
      name="email"
      id="email"
      required
      email
      ngModel
    />
    <input
      *ngIf="!editMode"
      type="text"
      placeholder="Enter your email"
      name="email"
      id="email"
      required
      email
      ngModel
    />

    <label for="psw"><b>Password</b></label>
    <input
      type="password"
      placeholder="6 characters only"
      name="password"
      id="psw"
      minlength="6"
      required
      ngModel
    />
    <hr />

    <button type="submit" class="registerbtn" [disabled]="!form.valid">
      {{ editMode ? "Save Changes" : "Add new User" }}
    </button>
  </div>
</form>
