<div *ngIf="loadUserPending$ | async">
  <h2>Loading...</h2>
  <mat-spinner> </mat-spinner>
</div>
<div *ngIf="updatePending$ | async">
  <h2>Updating...</h2>
  <mat-spinner> </mat-spinner>
</div>
<div *ngIf="addUserPending$ | async">
  <h2>Saving...</h2>
  <mat-spinner> </mat-spinner>
</div>
<button routerLink="/users">
  <mat-icon color="warn">backspace</mat-icon>
</button>
<h1>{{ editMode ? "Edit user" : "Create user" }}</h1>

<form [formGroup]="formEditNew" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill" class="field-width">
    <mat-label>Fill with name</mat-label>
    <input matInput placeholder="Name" formControlName="name" id="name" />
    <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    <mat-error *ngIf="formEditNew.value.name">{{
      getErrorMessage2()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="field-width">
    <mat-label>Enter your email</mat-label>
    <input
      matInput
      placeholder="{{ editMode ? formEditNew.value.email : 'pat@example.com' }}"
      formControlName="email"
      id="email"
    />
    <mat-error *ngIf="formEditNew.value.email">{{
      getErrorMessage()
    }}</mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill" class="field-width">
    <mat-label>6 characters only</mat-label>
    <input
      matInput
      [type]="hide ? 'password' : 'text'"
      formControlName="password"
    />
    <button
      type="button"
      mat-icon-button
      matSuffix
      (click)="hide = !hide"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
  </mat-form-field>
  <button
    type="submit"
    mat-raised-button
    color="primary"
    [disabled]="!formEditNew.valid"
  >
    {{ editMode ? "Update" : "Save" }}
  </button>
</form>
